@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
  outline: none !important;
  border: none;
  scroll-behavior: smooth;
}

.preload {
  position: absolute;
  display: block;
  padding: 1rem;
  width: 100%;
  height: 100%;
  bottom: 0;
  z-index: 100;
  background-color: white;
}

.preload .bg-loading {
  color: #909090;
  text-align: center;
  padding: 1rem;
  margin: 5rem auto;
}

.loader-container {
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 4px;
  border-radius: 6px;
  background-color: white;
  z-index: 999;
}

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.divider {
  border-right: 1px solid white;
  padding-right: 10px;
  margin-right: 10px;
}

body {
  font-family: "Open Sans", "Roboto", "Segoe UI", sans-serif;
  font-weight: 500;
  color: #141414;
}

.content h1 {
  font-size: 28px;
}

.content h2 {
  font-size: 24px;
}

.content h3 {
  font-size: 20px;
}

.content h4 {
  font-size: 18px;
}

.content h5 {
  font-size: 16px;
}

.content h6 {
  font-size: 14px;
}
header {
  padding: 0rem 2rem;
  top: 0;
  position: sticky;
  align-items: center;
  background-color: #013880;
  z-index: 1000;
}

.nav-logo {
  padding: 5px;
}

.nav-logo .name-logo h1 {
  font-size: 1.2rem;
  max-width: 21rem;
  color: white;
  word-wrap: break-word;
}

#hamb {
  display: none;
}

header nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1.3em;
}

header .nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .nav-menu-group {
  display: flex;
  list-style: none;
  justify-content: center;
  margin: auto;
}

header .nav-menu-group li {
  padding: 10px;
  margin: 5px;
  font-weight: 700;
}

header .nav-menu-group li a {
  color: white;
}

header .nav-menu-group li a:hover {
  color: #0a9df1;
}

header .nav-menu .hamb {
  color: white;
  display: none;
  font-size: x-large;
  font-weight: 700;
}

.dropdown-toggle {
  font-weight: 700;
}

.dropdown-menu {
  margin: 0;
  padding: 0;
}

.dropdown-li {
  padding: 5px !important;
}

.dropdown-item {
  color: black !important;
}

.property-panel a:link,
.property-panel a:visited {
  color: #fff89b !important;
  text-decoration: underline !important;
}

.property-panel a:hover,
.property-panel a:active {
  color: #9bc6ff !important;
}

#topRight {
  position: absolute;
  top: 5rem;
  right: 10px;
  width: max-content;
  z-index: 1;
}

@keyframes fadeSlideUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#simSection {
  padding: 0.3rem 0.3rem;
  background-color: #ffffff;
  border-radius: 5px;
  border: gray;
  cursor: pointer;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

#simSection > *:first-child {
  border: 1px solid #30303060;
  border-radius: 5px;
}

#simSection img {
  height: 100%;
  max-height: 40px;
}

#simSection > *:first-child > *:nth-child(2) {
  font-weight: 800;
  padding: 0.5rem 0.8rem;
  border-radius: left 5px;
}

#menuSection {
  position: absolute;
  right: 0;
  margin: 0.5rem auto;
  width: 20rem;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  opacity: 0;
  z-index: 999;
  transition: all 0.3s ease-in-out;
  transform: translateY(-10%);
  animation: fadeSlideUp 0.3s forwards;
}

#menuItem > a {
  color: #1e1e2a;
  text-decoration: solid;
  border-radius: 5px;
}

#menuItem > a:hover {
  background-color: #f5f5f5;
}

#welcome {
  z-index: 9999;
}

#usab-button {
  position: absolute;
  top: 50%;
  right: -92px;
  transform: translateY(-50%);
  width: max-content;
  rotate: 90deg;
}

.usab-test {
  width: 40rem !important;
  z-index: 10000;
}

.offcanvas-backdrop.show {
  z-index: 9999;
}

/* Layer Panel */
.layer-panel {
  position: absolute;
  margin-top: 4rem;
  top: 5px;
  left: -22rem;
  z-index: 10;
  width: 22rem;
  max-height: 38rem;
  overflow-y: scroll;
  transition: left 0.3s ease;
}

.layer-panel-show {
  left: 0;
}

.layer-item {
  display: block;
  font-size: 16px;
  color: #000000;
  padding-bottom: 1px;
}

.collapse.show {
  height: 50vh;
  overflow-y: scroll;
}

/* clip panel */
.clip-panel,
.measure-panel {
  position: absolute;
  margin-top: 4rem;
  top: -25rem;
  right: 10px;
  z-index: 1;
  transition: left 0.5s ease;
}

.clip-panel-show,
.measure-panel-show {
  top: 10px;
}

.clip-item {
  display: block;
  font-size: 16px;
  color: #000000;
  padding-bottom: 1px;
}

.selected {
  color: #fec410 !important;
}

/* property panel */
.property-panel {
  position: fixed;
  top: 55%;
  right: -30rem;
  z-index: 100;
  max-height: 470px;
  height: 25rem;
  width: 100%;
  max-width: 25rem;
  background-color: #2e2a29f1;
  color: #edffff;
  transform: translateY(-50%);
  transition: right 0.3s ease;
}

.property-panel-show {
  right: 10px;
}

.property-header {
  margin: 0;
  padding: 4px;
  background-color: rgba(47, 47, 47, 0.945);
  position: absolute;
  width: 100%;
  max-width: 25rem;
}

.property-content {
  font-size: 14px;
  padding: 4px 10px;
  margin-right: 4px;
  margin-top: 2.6rem;
  color: #edffff;
  overflow-y: scroll;
}

.property-content p {
  margin: 0;
  padding: 2px 4px;
}

.cesium-infoBox-defaultTable th:first-child {
  width: 120px;
}

/* minimap */
.minimap-panel {
  position: fixed;
  bottom: 1rem;
  right: -22rem;
  width: 18rem;
  height: 12rem;
  z-index: 10;
  transition: right 0.3s ease;
}

#map2d {
  width: 100%;
  height: 100%;
}

.minimap-panel-show {
  right: 10px;
}

/* button size custom */
.btn-primary {
  background-color: #013880;
  border-color: #013880;
}

.asbn {
  padding: 3px 6px;
  font-size: 1rem;
}

.xs-btn {
  font-size: 14px;
  padding: 5px;
}

.s-btn {
  font-size: 14px;
  padding: 8px;
}

/* node tree */
label {
  font-weight: 400;
}

ul,
#myUL {
  list-style-type: none;
}

#myUL {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

.caret {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

.caret-down::before {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.nested {
  display: none;
}

.active {
  display: block;
}

#autocompleteResults {
  display: block;
  position: absolute;
  z-index: 1;
  min-width: 18rem;
  width: auto;
  max-height: 200px;
  overflow-y: auto;
  border-radius: 6px 6px;
  background-color: #fff;
}

.autocomplete-item {
  padding: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.autocomplete-item:hover {
  background-color: #f0f0f0;
}

/* css cesium */

/* Responsive */
@media (max-width: 1184px) {
  header nav {
    gap: 0;
  }

  header nav .nav-menu {
    display: contents;
  }
}

@media (max-width: 1111px) {
  .divider {
    display: block;
    border-style: inset;
    border-width: 1px;
  }

  header nav .nav-menu .nav-menu-group {
    display: block;
    position: absolute;
    top: -30rem;
    right: 0;
    width: 100%;
    padding-top: 1rem;
    background-color: #013880;
    text-align: center;
    box-shadow: 0px 0px 10px #252525;
  }

  .nav-menu-group.show {
    top: 4rem !important;
    z-index: 1;
  }

  #hamb {
    display: block;
    color: whitesmoke;
    cursor: pointer;
    padding: 0.2em 0.4em;
    background-color: #345da7;
    border-radius: 8px;
    z-index: 1;
  }
}

@media (max-width: 760px) {
  header nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }

  .nav-menu-group.show {
    top: 8rem !important;
  }

  .nav-logo .name-logo h1 {
    width: 100%;
    text-align: center;
  }

  #topRight {
    top: 140px;
  }
}
